@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(../assets/fonts/Inter-Bold.ttf);
}

$coal: #2F3131;
$steel-blue: #426E86;
$sunrise: #F9BA32;
$bone: #F8F1E5;
$choco: #301b28;

$logo-light-green: #61BF82;
$logo-dark-green: #0CA579;
$logo-dark-gray: #6B6B6B;
$logo-light-gray: #C1C1C1;

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
