body {
  padding: 0;
  margin: 0;
}

main {
  .greeting {
    height: 700px;
    position: relative;
    display: grid;

    .greeting-message {
      position: absolute;
      margin: 50px 0 0 50px;
      color: #ededed;
      width: 30%;

      h1 {
        text-align: center;
      }

      p {
        font-size: 20px;
      }
    }

    img {
      height: inherit;
      width: 100%;
      object-fit: cover;
    }

    .container {
      width: 95%;
    }

    .btn {
      position: absolute;
      top: 50%;
      justify-self: center;

      #next,
      #prev {
        color: #ededed;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
        transition: ease 0.5s;
        border-radius: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      #prev {
        float: left;
      }

      #next {
        float: right;
      }
    }
  }
}
